body, html {
  height: 100%;
  margin: 0;
  font: 400 1vw/1.8 "Lato", sans-serif;
  color: #777;
  scroll-behavior: smooth;
}

.area-main{
	color:#777;
	background-color:white;
	text-align:center;
	padding:4.59vh 3vw;
	text-align: justify;
}
/*фоновые изображения*/
.bgimg-1, .bgimg-2, .bgimg-3 , .bgimg-4, .bgimg-5{
  position: relative;
  opacity: 0.7;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("bg.jpg");
  min-height: 100%;
  height: auto;
}

.bgimg-2 {
  background-image: url("bg.jpg");
  min-height: 40%;
}

.bgimg-3 {
  background-image: url("bg.jpg");
  min-height: 40%;
}
.bgimg-4 {
  background-image: url("bg.jpg");
  min-height: 40%;
}
.bgimg-5 {
  background-image: url("bg.jpg");
  min-height: 40%;
}
.caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: white;
}

.caption span.border {
  background-color: black;
  color: black;
  padding: 0.8vw;
  font-size: 4vw;
  letter-spacing: 0.6vw;
}

h3 {
  letter-spacing: 0.2vw;/*расстояние между символами*/
  text-transform: uppercase;/*заглавные буквы*/
  font: 1.04vw "Lato", sans-serif;/*шрифт*/
  color: black;/*измен цвета*/
}
h2 {
  letter-spacing: 0.2vw;
  text-transform: uppercase;
  font: 1.25vw "Lato", sans-serif;
  color: white;
}
h1 {
  letter-spacing: 0.2vw;
  text-transform: uppercase;
  font: 1.875vw "Lato", sans-serif;
  color: white;
}

@media only screen and (max-device-width: 53.33vw) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    background-attachment: scroll;
  }
}
/*меню навигации*/
.navbar {
  overflow: hidden;
  background-color: #999;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.4vw 0.5vw;
  text-decoration: none;
  font-size: 1vw;
}
/*измен цвета по наведению мыши*/
.navbar a:hover {
  background: #ddd;
  color: black;
}

/*стиль оформления таблицы*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 0.09vw solid #ddd;
}

th, td {
  text-align: left;
  padding: 0.4vw;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.text {
  background-color: white;
  color: black;
  font-size: 9vw; /* Адаптивный размер шрифта */
  font-weight: bold;
  margin: 0 auto; /* Центрировать текстовый контейнер */
  padding: 0 vw;
  width: 50%;
  text-align: center; /* Текст по центру */
  position: absolute; /* Позиция текста */
  top: 50%; /* Расположите текст посередине */
  left: 50%; /* Расположите текст посередине */
  transform: translate(-50%, -50%); /* Расположите текст посередине */
  mix-blend-mode: screen;  /* Это делает возможным вырез текста */
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 0.1vh;
}
/*визитка*/
.flip-card {
  background-color: transparent;
  width: 15.625vw;
  height: 15.625vw;
  perspective: 52vw;
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height:100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 0.2vh 0.416vw 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: #f1dfd5;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

* {box-sizing:border-box}

/* Контейнер для слайдшоу */
.slideshow-container {
  max-width: 72.9vw;
  position: relative;
  margin: auto;
}

/* Скрыть изображения по умолчанию*/
.mySlides {
  display: none;
}

/* Следующие и предыдущие кнопки */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2.02vh;
  padding: 0.83vw;
  color: white;
  font-weight: bold;
  font-size: 0.9375vw;
  transition: 0.6s ease;
  border-radius: 0 0.15625vw 0.15625vw 0;
  user-select: none;
}

/* Расположите «следующую кнопку» вправо*/
.next {
  right: 0;
  border-radius: 0.15625vw 0 0 0.15625vw;
}

/* При наведении, добавьте черный цвет фона с небольшим прозрачным */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Числовой текст (1/3 и т. Д.)*/
.numbertext {
  color: #f2f2f2;
  font-size:  0.625vw;
  padding: 0.734vh 0.625vw;
  position: absolute;
  top: 0;
}

/* Точки / маркеры / индикаторы */
.dot {
  cursor: pointer;
  height: 1.37vh;
  width: 0.78125vw;
  margin: 0 0.1vw;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Затухающая анимация */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
